In [ ]:
#This will be a Ridge Regression that will predict the number of reviews that air bnb 
#in new york city will receive.
#This will tell us more about how much an airbnb is actually being sold, since 90% of airbnb
#users leave a review after staying at an airbnb listing.

In [3]:
import pandas as pd #import pandas library to read excel file
import numpy as np
from sklearn.linear_model import Ridge #creating a Ridge regression
from sklearn.model_selection import train_test_split #partition the data
import matplotlib.pyplot as plt #use matplotlib for visualizations
import seaborn as sns #use seaborn for various visualizations
%matplotlib inline

In [4]:
df=pd.read_excel('Regression for 297P.xlsx', sheet_name='regsheet')
df.head()

,number_of_reviews,last_review,Log_Days_Since_Last_Review,reviews_per_month,calculated_host_listings_count,availability_365,logprice,neighbourhood_group_Bronx,neighbourhood_group_Brooklyn,neighbourhood_group_Manhattan,neighbourhood_group_Queens,neighbourhood_group_Staten Island,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,minimumnight_greater than 3,minimumnight_less than or equal to 3
0,9,43392,2.436163,0.21,6,365,2.176091,0,1,0,0,0,0,1,0,0,1
1,45,43606,1.770852,0.38,2,355,2.354108,0,0,1,0,0,1,0,0,0,1
2,270,43651,1.146128,4.64,1,194,1.954243,0,1,0,0,0,1,0,0,0,1
3,9,43423,2.383815,0.10,1,0,1.908485,0,0,1,0,0,1,0,0,1,0
4,74,43638,1.431364,0.59,1,129,2.303196,0,0,1,0,0,1,0,0,0,1

In [5]:
len(df.columns) #amount of columns in the dataset - this was preprocessed prior being imported

17

In [6]:
X=df.drop(['number_of_reviews', 'last_review'],axis=1).values
y=df['number_of_reviews'].values
y=y.reshape(-1,1)
#check the shape of the arrays, they need to have similar shapes in order for the data to be
#paritioned.
print(X.shape) 
print(y.shape)

(9999, 15)
(9999, 1)

In [7]:
X_train,X_test,y_train, y_test=train_test_split(X,y,test_size=0.4, random_state=42)
#Partition the data: 60% training data 40% test data

In [8]:
ridge=Ridge(normalize=True)
#Instantiate Ridge Regression

In [9]:
from sklearn.model_selection import GridSearchCV
alpha_vals=np.linspace(0.1,1,25)
#this method creates an evenly spaced amount of numbers based on an interval you set.
#the input is stored in a list. Doing this to set a certain number of potential alphas and 
#see which one performs the best.
# print(alpha_vals)
parameter_grid= {'alpha': alpha_vals} 
#creates the Grid necessary to do grid search cross validation
ridge_cv=GridSearchCV(ridge, parameter_grid, cv=5)#5 folds returns 5 potential alphas.
#performing cross-validation to obtain the best score from each possible alpha.
ridge_cv.fit(X_train,y_train) #fit this to the training data, 
#allows you to test each possible alpha on our data
print(ridge_cv.best_params_) #returns the best alpha value to use 
print(ridge_cv.best_score_) #this returns the best accuracy

{'alpha': 0.1}
0.8174595083778825

In [10]:
ridge=Ridge(alpha=0.1,normalize=True)
ridge.fit(X_train, y_train)

Ridge(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=None, normalize=True,
      random_state=None, solver='auto', tol=0.001)

In [11]:
y_pred=ridge.predict(X_test)
p_v_a = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted': y_pred.flatten()})
p_v_a

      Actual   Predicted
0         16   24.623568
1         15   17.339754
2          2   -1.049954
3        174  187.601796
4         64   70.311028
5          2    4.886560
6        154   96.445793
7         25   29.209203
8         17   31.341691
9        103   71.648371
10        20   16.163886
11        92   92.567475
12       196  178.284532
13        91   95.907653
14        13   12.479255
15         9   20.549614
16        82   54.270695
17         3   -1.819061
18         3    5.644340
19        27   30.783335
20         1    3.420797
21         9   23.335169
22        99   87.090228
23        75   92.930340
24         9   17.988036
25        12   22.262084
26       120  105.345039
27       147  156.228461
28        53   63.348656
29       205  219.543110
...      ...         ...
3970       6   11.160731
3971      83   78.643623
3972      95   99.262329
3973       1    2.374235
3974     279  246.617810
3975      44   46.148832
3976      77   84.967935
3977       5    9.164424
3978       1   -1.202651
3979      42   31.498978
3980      14   25.385589
3981      43   33.896859
3982       3    1.336164
3983      19   18.567962
3984      11   18.976042
3985      45   54.699193
3986     231  193.770017
3987      11   37.309838
3988      72   44.472156
3989       3    8.926224
3990       2    5.195410
3991       8   40.486931
3992       6    9.361027
3993       7   10.050332
3994       1    2.319087
3995       9   16.194523
3996      18   26.356195
3997     385  202.637827
3998      15   20.739282
3999     138  139.336245

[4000 rows x 2 columns]

In [12]:
ridge.score(X_test, y_test) #the score of the model, as we can see this is a high R2, 
#which indicates strong accuracy of prediction regarding this data.

0.8299800650999316

In [14]:
print(ridge.coef_)#estimated coefficients for predictors

[[-8.72375691e+00  4.51296684e+01 -2.17755964e-01  2.45843716e-02
  -1.66958769e+00 -1.54303419e+00 -2.55916962e-01  1.32132090e+00
  -3.84894265e+00  6.16890415e+00 -2.59227060e-01  1.71304869e-01
   1.96356909e+00 -2.04978573e+00  2.04978573e+00]]

In [15]:
from sklearn.metrics import mean_squared_error

In [16]:
print(mean_squared_error(y_test, y_pred)) #this is the mean squared error of the model: 
#this indicates how large the amount of error is.

843.2353875801688